{% extends "appbuilder/general/model/show.html" %}

{% block content %}
<div class="row">
    <div class="col-md-8">
        {{ super() }}
    </div>
    <div class="col-md-4">
        <div class="panel panel-info">
            <div class="panel-heading">
                <h4 class="panel-title">
                    <i class="fa fa-users"></i> {{ _("Quick Actions") }}
                </h4>
            </div>
            <div class="panel-body">
                <a href="{{ url_for('TeamModelView.team_members', team_id=pk) }}" class="btn btn-block btn-primary">
                    <i class="fa fa-users"></i> {{ _("Manage Members") }}
                </a>
                <br>
                {% if can_edit %}
                <a href="{{ url_for('TeamModelView.edit', pk=pk) }}" class="btn btn-block btn-warning">
                    <i class="fa fa-edit"></i> {{ _("Edit Team") }}
                </a>
                {% endif %}
            </div>
        </div>
    </div>
</div>
{% endblock %}